@import url("https://fonts.googleapis.com/css2?family=Bonheur+Royale&family=Explora&family=Stick+No+Bills:wght@200;600&display=swap");

*,
*::before,
*::after {
	padding: 0;
	margin: 0;
	border: 0;
	box-sizing: border-box;
}
:focus,
:active {
	outline: none;
}
a:focus,
a:active {
	outline: none;
}
nav,
footer,
header,
aside {
	display: block;
}
html,
body {
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
}
input,
button,
textarea {
	font-family: inherit;
}

a,
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
li {
	list-style: none;
}
img {
	vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: inherit;
	font-weight: inherit;
}
img {
	width: 300px;
	height: 300px;
}
.wrapper {
	width: 900px;
	margin: 0 auto;
}

.bloc {
	font-family: Bonheur Royale;
}

.bloc__border {
	font-size: 19px;
}

.border {
	margin: 10px;
	border: 1px solid red;
}

.border__radius {
	margin: 10px;
	display: inline-block;
}

.border__ranbom {
	margin: 10px;
	width: 100px;
	border-left: 2px solid gold;
	border-right: 6px dashed green;
	border-top: 7px double violet;
	border-bottom: 8px dotted blue;
}

.border__ridht {
	border-right: 100px solid red;
	display: inline-block;
}

.bloc__shadow {
	font-size: 30px;
	box-shadow: 1px 20px 0px #000;
	padding: 10px;
}

.shadow__lits {
	box-shadow: 2px 2px 7px gold;
}

.shadow__blec {
	box-shadow: 2px 8px 2px #000;
}
.lait {
	box-shadow: 7px 2px 2px green;
}

.blec {
	box-shadow: 3px 3px 10px red;
}
.optivain {
	opacity: 0.6;
}

.radius {
	width: 200px;
	height: 200px;
	border-radius: 50%;
	background: red;
	overflow: hidden;
}
.radius1 {
	border-radius: 50%;
	box-shadow: 2px 2px 10px red;
}

.radius2 {
	border-radius: 500px 20px 30% 1%;
	opacity: 0.7;
}
.dz {
}
.dz-bloc {
	background: #000;
	width: 200px;
	height: 200px;
	border-radius: 50%;
	overflow: hidden;
}

.dz22 {
	opacity: 0.5;
}

.dz23 {
	border: 1px solid red;
	display: inline-block;
}
.dz24 {
}
.dz1 {
	border: 1px solid gold;
}
.dz2 {
	border: 2px double green;
}
.dz3 {
	border: 3px dotted red;
}
.dz4 {
	border: 4px dashed sienna;
}
.dz25 {
	border: 1px solid black;
	padding: 10px;
	display: inline-block;
	box-shadow: 2px 2px 7px gold;
}
