@font-face {
    font-family: 'Gilroy';
    src: url('Gilroy-Thin.woff2') format('woff2'),
        url('Gilroy-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

